{% extends "layout.html" %}
    <title>{% block title %} Skynet {% endblock %}</title>

<body>
{% block content %}
    <h1>Player Ready For Battle!!</h1>
    <h2>Player choose your weapons:</h2>
        <p><button><a href="{{ url_for('submit', choice = 'rock') }}">Rock</a></button></p>
        <p><button><a href="{{ url_for('submit', choice = 'paper') }}">Paper</a></button></p>
        <p><button><a href="{{ url_for('submit', choice = 'scissors') }}">Scissors</a></button></p>
</body>

<nav><button><a href = "/">Home</a></button></nav>
{% endblock %}
