{% extends "layout.html" %}
    <title>{% block title %} Skynet {% endblock %}</title>

<body>
{% block content %}
    <h1>Player Ready For Battle!!</h1>
    <h2>Player choose your weapons:</h2>
        <p><button><a href="{{ url_for('submit', choice = 'Rock') }}">Rock</a></button></p>
        <p><button><a href="{{ url_for('submit', choice = 'Paper') }}">Paper</a></button></p>
        <p><button><a href="{{ url_for('submit', choice = 'Scissors') }}">Scissors</a></button></p>
</body>




{% endblock %}
