{% extends "layout.html" %}
    <title>{% block title %} Friends {% endblock %}</title>
</head>
<body>
{% block content %}
    <h1> Friends</h1>

    <p>player1 choice: {{ player1_choice }}</p>
    
    <p>player2 choice: {{ player2_choice }}</p>
    <p>
        {% if winner == "tie" %}
        <h2> tie </h2>
        {% elif winner == "player" %}
        <h2> WINNER!! </h2>
        {% elif winner == "computer" %}
        <h2> LOSER </h2>

        {% endif %}
    </p>
</body>
 
{% endblock %}


</html>