{% extends "layout.html" %}

    <title>{% block title %} Rock Paper Scissors {% endblock %}</title>
</head>
{% block content %}
<h1> Home Page</h1>

<nav><button><a href = "/computer">Lets battle the Computer</a></button></nav>
<nav><button><a href = "/player1">Play with a friend</a></button></nav>


{% endblock %}
</body>

<!-- THIS IS THE DROP DOWN SELCTION -->
    <!-- <label for="choice">Choose a weapon:</label>
    <select id="choice" name="choice">
        <option value= "rock">Rock</option>
        <option value= "paper">Paper</option>
        <option value= "scissors">Scissors</option>
    </select> -->

<!-- THIS IS THE HYPER LINK ATTACHED TO THE SUBMIT BUTTON -->
    <!-- <button><a class= "nav-link" href= "/submit">Submit</a></button> -->

    <!-- <h2>Player 2</h2>
    <label for="choice">Choose a weapon:</label>
    <select id="choice" name="choice">
        <option value= "rock">Rock</option>
        <option value= "paper">Paper</option>
        <option value= "scissors">Scissors</option>
    </select>
    <button><a class= "nav-link" href= "/submit">Submit</a></button> -->

