{% extends "layout.html" %}

    <title>{% block title %} Rock Paper Scissors {% endblock %}</title>
</head>
{% block content %}
<h1> Rock Paper Scissors</h1>
<p>















</p>
{% endblock %}
</body>

<!-- THIS IS THE DROP DOWN SELCTION -->
    <!-- <label for="choice">Choose a weapon:</label>
    <select id="choice" name="choice">
        <option value= "rock">Rock</option>
        <option value= "paper">Paper</option>
        <option value= "scissors">Scissors</option>
    </select> -->

<!-- THIS IS THE HYPER LINK ATTACHED TO THE SUBMIT BUTTON -->
    <!-- <button><a class= "nav-link" href= "/submit">Submit</a></button> -->

    <!-- <h2>Player 2</h2>
    <label for="choice">Choose a weapon:</label>
    <select id="choice" name="choice">
        <option value= "rock">Rock</option>
        <option value= "paper">Paper</option>
        <option value= "scissors">Scissors</option>
    </select>
    <button><a class= "nav-link" href= "/submit">Submit</a></button> -->

