<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <title>{% block title%}{% endblock%}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer>

    <nav><button><a href = "/computer">Lets battle the computer</a></button></nav>
    <nav><button><a href = "/player1">Play with a friend</a></button></nav>
    <nav><button><a href = "/">Home</a></button></nav>
    
</footer> 