<!-- THIS WILL HOPEFULLY BE MY END PAGE OTHERWISE IM SCREWED LOL -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARENA</title>
</head>
<body>
    <h1> ARENA </h1>

    <p>player choice: {{ player_choice }}</p>
    
    <p>computer choice: {{ computer_choice }}</p>
    <p>
        {% if winner == "tie" %}
        <h2> tie </h2>
        {% elif winner == "player" %}
        <h2> WINNER!! </h2>
        {% elif winner == "computer" %}
        <h2> LOSER </h2>

        {% endif %}
    </p>

</body>
</html>

