{% extends "layout.html" %}
    <title>{% block title %} ARENA {% endblock %}</title>
</head>
<body>
{% block content %}
    <h1> ARENA </h1>

    <p>player choice: {{ player_choice }}</p>
    
    <p>computer choice: {{ computer_choice }}</p>
    <p>
        {% if winner == "tie" %}
        <h2> tie </h2>
        {% elif winner == "player" %}
        <h2> WINNER!! </h2>
        {% elif winner == "computer" %}
        <h2> LOSER </h2>

        {% endif %}
    </p>

<nav><button><a href = "/">Home</a></button></nav>
<nav><button><a href = "/player1">Play with a friend</a></button></nav>
{% endblock %}

</body>
</html>

