{% extends "layout.html" %}
    <title>{% block title %} ARENA {% endblock %}</title>
</head>
<body>
{% block content %}
    <h1> ARENA </h1>

    <p>Player choice: {{ player_choice }}</p>
    
    <p>Computer choice: {{ computer_choice }}</p>
    <p>
        {% if winner == "tie" %}
        <h2> Tie Try Again </h2>
        {% elif winner == "player" %}
        <h2> WINNER!! </h2>
        {% elif winner == "computer" %}
        <h2> LOSER :( </h2>

        {% endif %}
    </p>
</body>


{% endblock %}


</html>

